<a href="https://colab.research.google.com/github/manjotmb20/EC3/blob/master/Untitled146.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from numpy import linalg as LA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
import nltk
nltk.download("punkt")
# Warnings
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
data=pd.read_csv('data.csv')
data.head()
data['Class'][data['Class']=='g']=1
data['Class'][data['Class']=='h']=0
Y=pd.DataFrame(data.Class)
data.drop('Class', inplace=True,axis=1)
X=pd.DataFrame()
X=data
sc=StandardScaler()
X=sc.fit_transform(X)
X_train=data
Y_train=Y['Class']
Y_train=Y_train.astype('int')

In [25]:
'''df_train = pd.read_csv('train.csv')
df_train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)
df_train[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)
df_train[['SibSp', 'Survived']].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)
df_train[['Parch', 'Survived']].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)
df_train = df_train.drop(['Ticket', 'Cabin'], axis=1)
combine = [df_train]
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract('([A-Za-z]+)\.', expand=False)
pd.crosstab(df_train['Title'], df_train['Sex'])
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Don', 'Sir', 'Jonkheer', 'Dona'],'Royalty')
    dataset['Title'] = dataset['Title'].replace(['Capt', 'Col','Dr','Major','Rev'],'Special')
df_train[['Title','Survived']].groupby(['Title'], as_index=False).mean()
title_mapping = {"Master": 1, "Miss": 2, "Mrs": 3, "Mr": 4, "Royalty": 5, "Special": 6}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
df_train = df_train.drop(['Name', 'PassengerId'], axis=1)
combine = [df_train]
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)
median_age = np.zeros((2,3))
for dataset in combine:
    for sex in range(0,2):
        for pclass in range(0,3):
            guess_df = dataset[(dataset['Sex'] == sex) & \
                                  (dataset['Pclass'] == pclass+1)]['Age'].dropna()
            age_guess = guess_df.median()
            median_age[sex,pclass] = age_guess

for dataset in combine:
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                    'Age'] = median_age[i,j]

dataset['Age'] = dataset['Age'].astype(int)
df_train['AgeBand'] = pd.cut(df_train['Age'], 5)
df_train[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)
for dataset in combine:
    dataset.loc[ dataset['Age'] <= 16, 'AgeG'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'AgeG'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'AgeG'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'AgeG'] = 3
    dataset.loc[ dataset['Age'] > 64, 'AgeG'] = 4
df_train = df_train.drop(['AgeBand','Age'], axis=1)
combine = [df_train]
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

df_train[['FamilySize','Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False) 
df_train = df_train.drop(['SibSp', 'Parch'], axis=1)
combine = [df_train]
freq_port = df_train.Embarked.dropna().mode()[0]
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)
df_train[['Embarked','Survived']].groupby(['Embarked'], as_index = False).mean().sort_values(by='Survived', ascending=False)
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
df_train = df_train.drop(['Fare'], axis=1)
combine = [df_train]
for dataset in combine:
    dataset.AgeG = dataset.AgeG.astype(int)
X_train = df_train.drop("Survived", axis=1)
Y_train = df_train['Survived'] '''

'df_train = pd.read_csv(\'train.csv\')\ndf_train[[\'Pclass\', \'Survived\']].groupby([\'Pclass\'], as_index=False).mean().sort_values(by=\'Survived\', ascending=False)\ndf_train[[\'Sex\', \'Survived\']].groupby([\'Sex\'], as_index=False).mean().sort_values(by=\'Survived\', ascending=False)\ndf_train[[\'SibSp\', \'Survived\']].groupby([\'SibSp\'], as_index=False).mean().sort_values(by=\'Survived\', ascending=False)\ndf_train[[\'Parch\', \'Survived\']].groupby([\'Parch\'], as_index=False).mean().sort_values(by=\'Survived\', ascending=False)\ndf_train = df_train.drop([\'Ticket\', \'Cabin\'], axis=1)\ncombine = [df_train]\nfor dataset in combine:\n    dataset[\'Title\'] = dataset.Name.str.extract(\'([A-Za-z]+)\\.\', expand=False)\npd.crosstab(df_train[\'Title\'], df_train[\'Sex\'])\nfor dataset in combine:\n    dataset[\'Title\'] = dataset[\'Title\'].replace(\'Mlle\', \'Miss\')\n    dataset[\'Title\'] = dataset[\'Title\'].replace(\'Ms\', \'Miss\')\n    dataset[\'Title\'] = dataset[\'Title\'].replace(\'Mme\', \'Mrs\')\n    dataset[\'Title\'] = dataset[\'Title\'].replace([\'Lady\', \'Countess\',\'Don\', \'Sir\', \'Jonkheer\', \'Dona\'],\'Royalty\')\n    dataset[\'Title\'] = dataset[\'Title\'].replace([\'Capt\', \'Col\',\'Dr\',\'Major\',\'Rev\'],\'Special\')\ndf_train[[\'Title\',\'Survived\']].groupby([\'Title\'], as_index=False).mean()\ntitle_mapping = {"Master": 1, "Miss": 2, "Mrs": 3, "Mr": 4, "Royalty": 5, "Special": 6}\nfor dataset in combine:\n    dataset[\'Title\'] = dataset[\'Title\'].map(title_mapping)\n    dataset[\'Title\'] = dataset[\'Title\'].fillna(0)\ndf_train = df_train.drop([\'Name\', \'PassengerId\'], axis=1)\ncombine = [df_train]\nfor dataset in combine:\n    dataset[\'Sex\'] = dataset[\'Sex\'].map( {\'female\': 1, \'male\': 0} ).astype(int)\nmedian_age = np.zeros((2,3))\nfor dataset in combine:\n    for sex in range(0,2):\n        for pclass in range(0,3):\n            guess_df = dataset[(dataset[\'Sex\'] == sex) &                                   (dataset[\'Pclass\'] == pclass+1)][\'Age\'].dropna()\n            age_guess = guess_df.median()\n            median_age[sex,pclass] = age_guess\n\nfor dataset in combine:\n    for i in range(0, 2):\n        for j in range(0, 3):\n            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),                    \'Age\'] = median_age[i,j]\n\ndataset[\'Age\'] = dataset[\'Age\'].astype(int)\ndf_train[\'AgeBand\'] = pd.cut(df_train[\'Age\'], 5)\ndf_train[[\'AgeBand\', \'Survived\']].groupby([\'AgeBand\'], as_index=False).mean().sort_values(by=\'AgeBand\', ascending=True)\nfor dataset in combine:\n    dataset.loc[ dataset[\'Age\'] <= 16, \'AgeG\'] = 0\n    dataset.loc[(dataset[\'Age\'] > 16) & (dataset[\'Age\'] <= 32), \'AgeG\'] = 1\n    dataset.loc[(dataset[\'Age\'] > 32) & (dataset[\'Age\'] <= 48), \'AgeG\'] = 2\n    dataset.loc[(dataset[\'Age\'] > 48) & (dataset[\'Age\'] <= 64), \'AgeG\'] = 3\n    dataset.loc[ dataset[\'Age\'] > 64, \'AgeG\'] = 4\ndf_train = df_train.drop([\'AgeBand\',\'Age\'], axis=1)\ncombine = [df_train]\nfor dataset in combine:\n    dataset[\'FamilySize\'] = dataset[\'SibSp\'] + dataset[\'Parch\'] + 1\n\ndf_train[[\'FamilySize\',\'Survived\']].groupby([\'FamilySize\'], as_index=False).mean().sort_values(by=\'Survived\', ascending=False) \ndf_train = df_train.drop([\'SibSp\', \'Parch\'], axis=1)\ncombine = [df_train]\nfreq_port = df_train.Embarked.dropna().mode()[0]\nfor dataset in combine:\n    dataset[\'Embarked\'] = dataset[\'Embarked\'].fillna(freq_port)\ndf_train[[\'Embarked\',\'Survived\']].groupby([\'Embarked\'], as_index = False).mean().sort_values(by=\'Survived\', ascending=False)\nfor dataset in combine:\n    dataset[\'Embarked\'] = dataset[\'Embarked\'].map( {\'S\': 0, \'C\': 1, \'Q\': 2} ).astype(int)\ndf_train = df_train.drop([\'Fare\'], axis=1)\ncombine = [df_train]\nfor dataset in combine:\n    dataset.AgeG = dataset.AgeG.astype(int)\nX_train = df_train.drop("Survived", axis=1)\nY_train = df_train[\'Survived\'] '

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
classifier3=SVC(probability=True)
from sklearn.metrics import roc_auc_score,accuracy_score
x_train,x_val,y_train,y_val=train_test_split(X_train,Y_train,test_size=0.2,random_state=9)
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)
ypred=classifier.predict(x_val)
print("ROC score of LR",roc_auc_score(y_val,ypred))
y_prob=classifier.predict_proba(x_val)
df=pd.DataFrame()
df['pred']=ypred
survived=pd.get_dummies(df.pred,prefix='Survived')
df=pd.concat([df,survived],axis=1)
df.drop('pred',inplace=True,axis=1)
df2=pd.DataFrame()
classifier3.fit(x_train,y_train)
ypred3=classifier3.predict(x_val)
print("ROC score of SVM",roc_auc_score(y_val,ypred3))
df2['pred']=ypred3
y_prob3=classifier3.predict_proba(x_val)
survived2=pd.get_dummies(df2.pred,prefix='Surviveds')
df=pd.concat([df,survived2],axis=1)

ROC score of LR 0.7448356932811848
ROC score of SVM 0.7718594415706674

In [27]:
df

      Survived_0  Survived_1  Surviveds_0  Surviveds_1
0              1           0            1            0
1              0           1            0            1
2              0           1            0            1
3              1           0            1            0
4              1           0            0            1
...          ...         ...          ...          ...
3799           0           1            0            1
3800           0           1            0            1
3801           0           1            0            1
3802           0           1            0            1
3803           0           1            0            1

[3804 rows x 4 columns]

In [0]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2,max_iter=100)
kmeans.fit(x_train)
k_pred=kmeans.predict(x_val)
accuracy_score(y_val,k_pred)
df_kmeans=pd.DataFrame()
df_kmeans['Survived_k']=k_pred
survivedk=pd.get_dummies(df_kmeans.Survived_k,prefix='Survivedk')

In [0]:
kmeans.predict

In [29]:
df['Survivedk_0']=survivedk['Survivedk_0']
df['Survivedk_1']=survivedk['Survivedk_1']
print("Accuracy score of Kmeans",accuracy_score(y_val,k_pred))
df

Accuracy score of Kmeans 0.3412197686645636

      Survived_0  Survived_1  ...  Survivedk_0  Survivedk_1
0              1           0  ...            0            1
1              0           1  ...            1            0
2              0           1  ...            0            1
3              1           0  ...            1            0
4              1           0  ...            1            0
...          ...         ...  ...          ...          ...
3799           0           1  ...            1            0
3800           0           1  ...            1            0
3801           0           1  ...            1            0
3802           0           1  ...            0            1
3803           0           1  ...            1            0

[3804 rows x 6 columns]

In [30]:
A=np.array(df)
A.shape

(3804, 6)

In [31]:
objclass_mat1=pd.DataFrame(y_prob,columns=['Survived','NotSurvived'])
objclass_mat2=pd.DataFrame(y_prob3,columns=['Survived','NotSurvived'])
objclass_mat3=pd.DataFrame(y_prob3,columns=['Survived','NotSurvived'])
df_t=pd.DataFrame(objclass_mat1)
df_t['Survived2']=objclass_mat2['Survived']
df_t['NotSurvived2']=objclass_mat2['NotSurvived']
df_t['Survived3']=objclass_mat3['Survived']
df_t['NotSurvived3']=objclass_mat3['NotSurvived']

G=6
C=2
m=G/2
n=df_t.shape[0]
dft=np.array(df_t)
Fo=np.zeros(shape=(n,C))
for i in range(n):
  sum1=0
  for j in range(0,G,2):
    sum1=sum1+dft[i][j]
  Fo[i][0]=sum1/m 
  sum2=0
  for j in range(1,G,2):
    sum2=sum2+dft[i][j]
  Fo[i][1]=sum2/m
'''gpclass_mat=pd.DataFrame(columns=['Survived','NotSurvived'],index=['class1surv','class1notsurv','class2surv','class2notsurv'])
prob1s=np.sum(objclass_mat1.Survived)/len(objclass_mat1)
prob1ns=np.sum(objclass_mat1.NotSurvived)/len(objclass_mat1)
prob2s=np.sum(objclass_mat2.Survived)/len(objclass_mat2)
prob2ns=np.sum(objclass_mat2.NotSurvived)/len(objclass_mat2)
list1=[]
list1.append(prob1s)
list1.append(prob1ns)
list1.append(prob2s)
list1.append(prob2ns)

list2=[]
list2.append(prob1ns)
list2.append(prob1s)
list2.append(prob2ns)
list2.append(prob2s)
gpclass_mat['Survived']=list1
gpclass_mat['NotSurvived']=list2
gpclass_mat
Fg=np.array(gpclass_mat)
Fg'''

"gpclass_mat=pd.DataFrame(columns=['Survived','NotSurvived'],index=['class1surv','class1notsurv','class2surv','class2notsurv'])\nprob1s=np.sum(objclass_mat1.Survived)/len(objclass_mat1)\nprob1ns=np.sum(objclass_mat1.NotSurvived)/len(objclass_mat1)\nprob2s=np.sum(objclass_mat2.Survived)/len(objclass_mat2)\nprob2ns=np.sum(objclass_mat2.NotSurvived)/len(objclass_mat2)\nlist1=[]\nlist1.append(prob1s)\nlist1.append(prob1ns)\nlist1.append(prob2s)\nlist1.append(prob2ns)\n\nlist2=[]\nlist2.append(prob1ns)\nlist2.append(prob1s)\nlist2.append(prob2ns)\nlist2.append(prob2s)\ngpclass_mat['Survived']=list1\ngpclass_mat['NotSurvived']=list2\ngpclass_mat\nFg=np.array(gpclass_mat)\nFg"

In [0]:
U=np.array(Fo)

In [33]:
Fo

array([[0.67584931, 0.32415069],
       [0.11821934, 0.88178066],
       [0.13972817, 0.86027183],
       ...,
       [0.24256884, 0.75743116],
       [0.18314069, 0.81685931],
       [0.44131002, 0.55868998]])

In [36]:
m=np.array(df)
Yg=np.zeros(shape=(m.shape[1],2))
c=np.sum(m,axis=0)
for i in range(Yg.shape[0]):
  if i%2==0:
    Yg[i][0]=c[i]/m.shape[0]
    Yg[i][1]=1-Yg[i][0]
  else:
    Yg[i][1]=c[i]/m.shape[0]
    Yg[i][0]=1-Yg[i][1]  
Yg.shape

(6, 2)

In [37]:

Yg

array([[0.26314406, 0.73685594],
       [0.26314406, 0.73685594],
       [0.23107256, 0.76892744],
       [0.23107256, 0.76892744],
       [0.80599369, 0.19400631],
       [0.80599369, 0.19400631]])

In [0]:
Fg=Yg
Q=np.array(Fg)

In [0]:
Y=np.array(Yg)

In [43]:
for i in range(Y.shape[0]):
  for j in range(Y.shape[1]):
    if Y[i][j]>0.5:
      Y[i][j]=1
    else:
      Y[i][j]=0

Y

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [0]:
import sys
threshold=sys.float_info.epsilon

In [45]:
D_sum=np.sum(A,axis=0)
Dv=np.diag(D_sum)
Dv

array([[1001,    0,    0,    0,    0,    0],
       [   0, 2803,    0,    0,    0,    0],
       [   0,    0,  879,    0,    0,    0],
       [   0,    0,    0, 2925,    0,    0],
       [   0,    0,    0,    0, 3066,    0],
       [   0,    0,    0,    0,    0,  738]], dtype=uint64)

In [46]:
Dn_sum=np.sum(A,axis=1)
Dn=np.diag(Dn_sum)
Dn

array([[3, 0, 0, ..., 0, 0, 0],
       [0, 3, 0, ..., 0, 0, 0],
       [0, 0, 3, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 3, 0, 0],
       [0, 0, 0, ..., 0, 3, 0],
       [0, 0, 0, ..., 0, 0, 3]], dtype=uint64)

In [47]:
K_sum=np.sum(Y,axis=1)
K=np.diag(K_sum)
K

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [0]:
Ut_old=np.zeros(shape=U.shape)
alpha=0.20
Ut=U
while LA.norm((Ut-Ut_old),ord=2)>threshold:
  Ut_old=Ut
  Q=np.matmul((np.linalg.inv(Dv+alpha*K)),((np.matmul(np.transpose(A),Ut))+(alpha*np.matmul(K,Y))))
  t=np.matmul(A,Q)
  Ut=np.matmul(np.linalg.inv(Dn),t)
Ut.shape

In [23]:
Ut

array([[0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66739081, 0.33260919],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66594252, 0.33405748],
       [0.66646608, 0.33353392],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66816202, 0.33183798],
       [0.66739081, 0.33260919],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66723729, 0.33276271],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66739081, 0.33260919],
       [0.66739081, 0.33260919],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66739081, 0.33260919],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66739081, 0.33260919],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66723729, 0.33276271],
       [0.66739081, 0.33260919],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66739081, 0.33260919],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66517131, 0.33482869],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66739081, 0.33260919],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66686725, 0.33313275],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66739081, 0.33260919],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66594252, 0.33405748],
       [0.66609604, 0.33390396],
       [0.66594252, 0.33405748],
       [0.66723729, 0.33276271]])

In [0]:
from sklearn.metrics import accuracy_score
result=np.zeros(shape=Ut.shape[0])
for i in range(Ut.shape[0]):
  if Ut[i][0]<Ut[i][1]:
    result[i]=1

In [67]:
roc_auc_score(y_val,result)

0.495